export SECRET_KEY_BASE="Secret key. You can use `mix phx.gen.secret` to get one"
export GUARDIAN_TOKEN="Secret key. You can use `mix guardian.gen.secret` to get one"

export GOOGLE_CLIENT_ID=""
export GOOGLE_CLIENT_SECRET=""

export FACEBOOK_CLIENT_ID_DEV=""
export FACEBOOK_CLIENT_SECRET_DEV=""
export FACEBOOK_CLIENT_ID=""
export FACEBOOK_CLIENT_SECRET=""

export S3_ACCESS_KEY_ID=""
export S3_SECRET_ACCESS_KEY=""

export KUBECONFIG=/path/to/kubeconfig.yaml